In [ ]:
# Tuple :
# my_function = ("red","blue","orange","purple","green")
# print (my_function)

('red', 'blue', 'orange', 'purple', 'green')

In [7]:
# dimension = (100,150,200)
# print(dimension[2])

200

In [8]:
# welcome = ("Hello ","World","groups")
# print(welcome[0:2])

('Hello ', 'World')

In [9]:
# my_tuple = ("Apple","Banana","Orange","Grapes")
# for fruits in my_tuple:
#     print(fruits)

Apple
Banana
Orange
Grapes

In [22]:
#i used {} instead of [] - make sure to always use [] in dictionary print
# always use "" for string values in dictionary - print

In [21]:
# dictionary:
# colors ={"green": "trees","blue" :"sky",5:"carpet","white":"snow"}
# print(colors[5])

carpet

In [26]:
# houses = {"gowri" :"panthers","veena":"wolves","reena":"lion","juli":"tiger"}
# print(houses["reena"])

lion

In [32]:
student = {"name":"jennis","D.O.b":16/1/2020,"address":"12th" "street","city" :"Mumbai"}
print(student["address"])
print(student["city"])

12thstreet
Mumbai

In [40]:
help(del)

<class 'SyntaxError'>: invalid syntax (<ipython-input-40-ab90b85f1620>, line 1)

In [45]:
# student = {"name":"jennis","D.O.b":"16/1/2020","address":"12th street","city" :"Mumbai"}
# del student["city"]

# print(student)

{'name': 'jennis', 'D.O.b': '16/1/2020', 'address': '12th street'}

In [55]:
student = {"name":"jennis","D.O.b":"16/1/2020","address":"12th street","city" :"Mumbai"}


print(student)

<class 'TypeError'>: 'builtin_function_or_method' object is not subscriptable

In [57]:
student = {"name":"jennis","D.O.b":"16/1/2020","address":"12th street","city" :"Mumbai"}
student.pop("city")

print(student)

{'name': 'jennis', 'D.O.b': '16/1/2020', 'address': '12th street'}

In [60]:
student = {"name":"jennis","D.O.b":"16/1/2020","address":"12th street","city" :"Mumbai"}
student.pop()

print(student)

<class 'TypeError'>: pop expected at least 1 argument, got 0

In [61]:
student = {"name":"jennis","D.O.b":"16/1/2020","address":"12th street","city" :"Mumbai"}
print(student.items())

print(student)

dict_items([('name', 'jennis'), ('D.O.b', '16/1/2020'), ('address', '12th street'), ('city', 'Mumbai')])
{'name': 'jennis', 'D.O.b': '16/1/2020', 'address': '12th street', 'city': 'Mumbai'}